# Python
__pycache__/
*.py[cod]
*.so
.Python

# Virtual Environment
venv/
env/
de-env/

# Spark
metastore_db/
derby.log

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Output
output/
*.parquet
